*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
uploads/staff_profile_images/6/small_Peter - Usama-v.jpg
uploads/staff_profile_images/6/thumb_Peter - Usama-v.jpg
uploads/staff_profile_images/6/index.html
*.png
modules/hr_profile/uploads/att_file/6/Steve - Employment Offer Letter.pdf
backups/.htaccess
backups/database_backup_2023-07-19-17-30-13-v3-0-5.zip
backups/index.html
modules/hr_payroll/libraries/.lic
modules/hr_payroll/libraries/.licint
modules/hr_payroll/uploads/payslip/1-test.txt
modules/hr_payroll/libraries/.licint
index.php
albert testing.xlsx
application/config/app-config.php
application/config/app-config.php
Attendance July 23 import.xlsx
application/config/app-config.php
